<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello Food</title>
  <link rel="stylesheet" href="/stylesheets/Master.css">
  <link rel="stylesheet" href="/stylesheets/Detail.css">
</head>
<body>
  <div class="container">
    <nav>
      <ul>
        <li id="nav-brand">Hello Food</li>
        <li><a href="/items">Food List</a></li>
        <li><a href="/categories">Category List</a></li>
        <li><a href="/orders">Order List</a></li>
        <li><a href="/customers">Customer List</a></li>
        <li id="nav-user">User &#9207;</li>
      </ul>
    </nav>

    <div class="content">
      <h1>Order Details</h1>

      <table class="no-border">
        <tr>
          <td class="w-25">User Name</td>
          <td>: <%= order.user.name %></td>
        </tr>
        <tr>
          <td class="w-25">Customer Name</td>
          <td>: <%= order.customer.name %></td>
        </tr>
        <tr>
          <td class="w-25">Customer Phone Number</td>
          <td>: <%= order.customer.phone_number %></td>
        </tr>
        <tr>
          <td class="w-25">Created At</td>
          <td>: <%= order.order_date.strftime("%d %B %Y") %></td>
        </tr>
      </table>

      <br>
      <h2>Item Bought</h2>
      <table>
        <tr>
          <th><b>Item Name</b></th>
          <th><b>Item Price</b></th>
          <th><b>Item Quantity</b></th>
          <th><b>Price</b></th>
        </tr>

        <% order.items.each do |item| %>
          <tr>
            <td><%= item[0] %></td>
            <td><%= item[1] %></td>
            <td><%= item[2] %></td>
            <td><%= item[1] * item[2] %></td>
          </tr>
        <% end %>

        <tr>
          <th colspan=3>Total Price</th>
          <th><%= order.total_price %></th>
        </tr>
      </table>
      <br>
      <a href="/orders"><button class="btn btn-secondary">Back</button></a>
    </div>

    <footer>Clapie &#169; 2020</footer>
  </div>
</body>
</html>
