<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello Food</title>
  <link rel="stylesheet" href="/stylesheets/Master.css">
  <link rel="stylesheet" href="/stylesheets/View.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container">
    <nav>
      <ul>
        <li id="nav-brand">Hello Food</li>
        <li class="active"><a href="/items">Food List</a></li>
        <li><a href="/categories">Category List</a></li>
        <li><a href="/orders">Order List</a></li>
        <li><a href="/customers">Customer List</a></li>
        <li id="nav-user">User &#9207;</li>
      </ul>
    </nav>

    <div class="content">
      <h1>Food List</h1>

      <form action="/items" method="GET">
        <input type="text" placeholder="Search by name.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>

      <table>
        <thead>
          <tr>
            <th><b>Name</b></th>
            <th><b>Description</b></th>
            <th><b>Price</b></th>
            <th><b>Category</b></th>
            <th><b>Action</b></th>
          </tr>
        </thead>

        <tbody>
          <% items.each do |item| %>
            <tr>
              <td><%= item.name %></td>
              <td><%= item.description %></td>
              <td><%= item.price %></td>
              <td><%= item.print_categories_name %></td>
              <td class="icon">
                <i class="fa fa-eye fa-2x" onclick="redirect('/items/detail/<%= item.id %>');"></i>
                <i class="fa fa-edit fa-2x" onclick="redirect('/items/edit/<%= item.id %>');"></i>
                <i class="fa fa-trash-o fa-2x" onclick="validateDelete('/items/delete/<%= item.id %>');"></i>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br><br>
      <a href="/items/new"><button class="btn-primary">New Food</button></a>
    </div>

    <footer>Clapie &#169; 2020</footer>
  </div>

  <script src="/javascripts/Master.js"></script>
</body>
</html>
